<%- include("./partials/header.ejs"); %>
    <div class="login-container">
        <h1>Login</h1>
        <form>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <p><a href="#">Forgot your password?</a></p>
    </div>
</body>
</html>